{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/public.css' %}">
    <title>home</title>
</head>
<body>
    <nav class="nav">
        <a href="/app" class="logo">
            LOGO
        </a>
        <ul class="menu">
            <li><a href="/app/">홈</a></li>
            <li><a href="/app/posts">게시물</a></li>
            <li><a href="/app/create">게시물 작성</a></li>
        </ul>
    </nav>
    <section class="section">
        <h1>게시물 생성</h1>
        <form action="/app/store" method="POST" class="form">
            {% csrf_token %}
            <label>제목</label>
            <input type="text" name="title">

            <label>작성자</label>
            <input type="text" name="writer">

            <label>내용</label>
            <textarea name="content"></textarea>
            <button type="submit">생성</button>
        </form>
    </section>
</body>
</html>